local.properties
proguard-project.txt
bin/
gen/
docs/
lib/
AndroidManifest.xml
res/values/strings.xml
src/info/meoblast001/thugaim/AdManager.java
res/layout/checkpoint_reached.xml
res/layout/game_over.xml
